/data/fixed_camera/
/data/moving_camera/
/__pycache__
/train_log/
/nedf_0410/data/
/nedf_0410/train_log/
/nedf_0502/data/
/nedf_0502/train_log/
/nedf_0504_npyversion/data/
/nedf_0504_npyversion/train_log/
/.idea
/backup/
/.DS_Store
/.pytest_cache/
/archive/
*.npz
train_log_soft/
train_log_soft/*
*.gif
train_log_softseq/
train_log_softseq/*
train_log_seq_vis/
train_log_seq_vis/*